.jumbotron {
    background-color: #2d6076;
    color: white;
    text-align: center;
    font-weight: bolder;
}

.heading{
font-size: 2.5rem;
font-weight: 700;
line-height: 1.2;
text-transform: uppercase;
}

body{
    background-color:  #c1dadf;
    font-family: 'Roboto Mono', monospace;
}

.card{
    display: inline-block;
    width: 100%; 
    margin-inline-start: 50px; 
    border: none;
}

.card-header{
    background-color: #2d6076;
    color: white;
    font-family: 'Sansita', sans-serif;
}

tbody>tr>td {
    text-transform: capitalize;
    line-height: 1.5;
}

#footer{
    background-color: #343A40;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    padding: 15px;  
    color:white;
    width: auto;
    bottom: 0;
    position: relative;
    margin-top: 30px;  
}